
.idea/*

*.pyc
*.sqlite3
*.iml
bookmarks/.idea/misc.xml
bookmarks/.idea/modules.xml
bookmarks/.idea/vcs.xml
bookmarks/.idea/workspace.xml

*.jpg

*.jpeg

myshop/.idea/vcs.xml

myshop/.idea/workspace.xml

myshop/.idea/misc.xml
